
/*sección de estilos CSS para la pagina web*/
*{
    box-sizing: border-box;
    margin: 0; /* Inicializa margenes*/
    padding: 0; /* Inicializa padding*/
}
html{
    max-height: 100%; /* se adapta altura pag web cualquier dispositivo*/
}
body{
    font-family: tahoma;
    font-size: 18px;
}
/* sección cabecera PC*/
.incap{
    border: none;
}
#header{
    background-color: lightsteelblue;
    border: 2px solid rgb(28, 108, 122);
    border-radius: 20px 20px 10px 10px;
    display: flex;
    flex-direction: row; /*dirección horinzontal o en la fila*/
    justify-content: center; /*alinea horizontal o en fila*/
    align-items: center; /*alinea horizontalmente*/
    grid-area: header;  /*asigna nombre al contenedor*/
}
header img{
    padding: 15px;
}
/*Sección menu*/
ul{
    padding: 0;
    margin: 0 1px;
}
li{
    display: inline;
    list-style: none;
    margin: 0 5px;
    font: bold 12px verdana;
}
a{
    color: white;
    text-decoration: none; /*quitar las lineas subrayadas*/
}
#menu{
    grid-area: nav; /*asigna nombre a contenedores*/
    background-color: blue;
    border: 2px solid green;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
/* nuevo estilo para buscador*/
.buscarbox input{
    height: 25px;
    width: 0px;
    padding: opx 0px;
    border-radius: 40px;
    border: 0px;
    padding-right: 50px;
    transition: 0.8s ease;
}
/* se aplica una pseudoclase hover para expandir ancho de buscador*/
.buscarbox input:hover{
    width: 150px;
    padding-left: 10px;
    outline: none; /*quitar bordes*/
}
/*seccion contenido*/
#main{
    grid-area: main; /* matricula nombre al contenidor section para grid*/
    background-color: white;
    border: 2px solid green; 
/* se define ancho y altura contenedor para ajustar a vista a dispositivo actual*/
    max-width: 100%;
    height: auto;
}
figure, figcaption{
    display: inline;
    margin: 45px;
    padding: 5px 5px;
}
.programa{
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 5px;
    height: 200x;
    width: 45%;
    position: relative;
    border: 1px solid black;
    border-radius: 15px 15px;
    
    
}
section article{
    background-color: lightcyan;
    width: 200px;
    margin: 20px;
}
img{
    width: 100px;
    height: 100px;
    border-style: solid;
    padding: 15px;
    }
img{
    transition: all 0.2s linear;
}
img:hover{
    transform: scale(0,1);
    border-radius: 30px;
}
/* seccion barra lateral*/
#sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* se define ancho y altura contenedor para ajustar*/
iframe{
    max-width: 100%;
    height: auto;
}
#footer{
    grid-area: footer;
    background-color: teal;
    border-radius:20px 20px 10px 10px ;
    clear: both;
}
#grid-container >*{
    text-align: center;
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0,.75);
}
/* se define estilos al contenedor grid en general vista PC a 3 COL,*/
#grid-container{
    display:grid;
    
}
